---
import "@styles/components/_button.scss";

const {
	href,
	label = "Button CTA",
	id,
	variant = "primary",
	size = "md",
	type = "button",
	fullWidth = false,
	iconOnly = false,
	icon,
	iconPosition,
	target,
	ariaLabel,
	ariaLabelledby,
	ariaDescribedby,
	description
} = Astro.props;

const classList = [
	"button",
	`button--${variant}`,
	`button--${size}`,
	fullWidth && "button--full",
	iconOnly && "button--icon-only"
].filter(Boolean).join(" ");

const iconNameMap = {
	link: "fa-regular fa-chevron-right",
	search: "fa-solid fa-magnifying-glass",
	play: "fa-solid fa-play",
	expand: "fa-solid fa-chevron-down",
	modal: "fa-solid fa-window-restore"
};

const iconClass = icon && iconNameMap[icon as keyof typeof iconNameMap] ? iconNameMap[icon as keyof typeof iconNameMap] : null;
---
{href ? (
	<a
	href={href}
	class={classList}
	target={target}
	aria-label={ariaLabel}
	aria-labelledby={ariaLabelledby}
	aria-describedby={ariaDescribedby}
>
	{iconClass && iconPosition === "left" && (
		<span class="button__icon button__icon--left">
			<i class={iconClass} aria-hidden="true"></i>
		</span>
	)}

	<span class="button__label">{label}</span>

	{iconClass && iconPosition === "right" && (
		<span class="button__icon button__icon--right">
			<i class={iconClass} aria-hidden="true"></i>
		</span>
	)}

	{
		ariaDescribedby && description &&
		<span id={ariaDescribedby} class="sr-only" aria-hidden="true">{description}</span>
	}

</a>
) : (
<button
	id={id}
	class={classList}
	type={type}
	aria-label={ariaLabel}
	aria-labelledby={ariaLabelledby}
	aria-describedby={ariaDescribedby}
>
	{iconClass && iconPosition === "left" && (
		<span class="button__icon button__icon--left">
			<i class={iconClass} aria-hidden="true"></i>
		</span>
	)}

	{!iconOnly && String(label).trim()}
	
	{iconClass && iconPosition === "right" && (
		<span class="button__icon button__icon--right">
			<i class={iconClass} aria-hidden="true"></i>
		</span>
	)}
	{
		ariaDescribedby && description &&
		<span id={ariaDescribedby} class="sr-only" aria-hidden="true">{description}</span>
	}
</button>
)}


